@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0;
}
.business_card{
   /*Positionering van de business card*/
   position: absolute;
   top:50%;
   left: 50%;
   position: center;
   transform: translate(-50%, -50%);

   /*Styling van de business card*/
   background: linear-gradient(#e66465,#9198e5 );
   height: 45em;
   width: 31.25em;
   border-radius: 1.4em;
   border: solid 0.5em;
   border-color: black;
}

.name_box{
    display: flex;
    height: 5em;
    width: 100%;
}

.name{
    width: 100%;
    margin-top: 1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Archivo Black', sans-serif;
}


.profile_picture{
    display: flex;
    height: 15em;
    width: 100%;
}


.block1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.pp{
    height: 10em;
    width: 10em;
    border-radius: 10em;
}

.block2{
    justify-content: center;
    margin-top: 2.5em;
    width: 50%;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-weight: bold;
}

.content_box{
    display: flex;
    height: 15em;
    width: 100%;
}
