@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

*{
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

body{
    background-color:#A18276;
}

.main_container{
    /*size van de maincontainer*/
    width: 31.25em;
    height: 45em;

    /* Positionering van de maincontainer*/
    position: absolute;
    top:50%;
    left: 50%;
    position: center;
    transform: translate(-50%, -50%);
}

.the_card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.75s ease;
}

.the_card:hover{
    transform: rotateY(180deg);
}

.the_front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #CBE896;
    color: white;
    border: solid 1em #F4B886;
    border-radius: 1em;
}
.front_content{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.front_content_top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    letter-spacing: 4px;
    height: 30%;
    width: 100%;
}


.front_content_mid{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40%;
    width: 100%;
}

.front_content_mid::after{
    content:'';
    width: 99.99%;
    background: #FCDFA6;
    position: absolute;
    inset: 0;
    transform: skewY(-25deg);
    z-index: 1;
}

.profile_picture{
    height: 12em;
    width: 12em;
    background: white;
    z-index: 2;
    border-radius: 6.5em;
    border: solid 0.6em #F4B886;
}

.front_content_bot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    letter-spacing: 4px;
    height: 30%;
    width: 100%;
}
.the_back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(0, 0, 37);
    color: white; 
    transform: rotateY(180deg);
}